h1 {
    font-size: 40px;
}

h3 {
    font-size: 25px;
}

button {
    padding: 10px 20px;
    background-image: linear-gradient(45deg, salmon, tomato);
    border: 0;
    border-radius: 5px;
    color: white;
}

.half-width {
    width: 40%;
    float: left;
    padding: 4%;
}

.half-width img {
    width: 100%;
}

.one-third {
    width: 30%;
    float: left;
    padding: 1%;
    margin: .5%;
    border-radius: 5px;
    box-shadow: 5px 5px 20px gainsboro;
}

.one-third img {
    width: 90%;
    border-radius: 20px;
    margin: 5%;
}

.project-margin {
    margin: 0 10%;
}

.footer-bg {
    background-image: url(images/footer-image.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    margin: 0 auto;
    width: 60%;
    border-radius: 40px;
    height: 150px !important;
}

#footer-button {
    height: 50px;
}

.all-icon img {
    width: 30px;
    margin: 0 5px;
}
.text-color{
    color: tomato;
}